name: Build Examples

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        include:
          - os: ubuntu-latest
            cpp_compiler: g++
          - os: macos-latest
            cpp_compiler: clang++
          - os: windows-latest
            cpp_compiler: cl

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3

    - name: Compile examples on Linux/macOS
      if: runner.os != 'Windows'
      run: |
        ${{ matrix.cpp_compiler }} -std=c++17 -Iinclude examples/*.cpp -o build_test

    - name: Compile examples on Windows
      if: runner.os == 'Windows'
      shell: msvc
      run: |
        cl /std:c++17 /Iinclude examples/*.cpp
